<% layout('layouts/boilerplate') %>
<div class="row">
<div class="card col-6 my-3">
    <img src="<%= campground.image %>" class="img-thumbnail" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.description %></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
      <li class="list-group-item">Price = <%= campground.price %>$/night</li>
    </ul>
    <div class="card-body">
        <div>
            <a href="/campgrounds/<%= campground._id%>/edit" class="btn btn-warning m-1 px-3">Edit</a>
            <a href="/campgrounds" class="btn btn-secondary  m-1">All Campgrounds</a>
        </div>
        <div>
            <form action="/campgrounds/<%= campground._id%>?_method=DELETE" class="form" method="post">
                <button class="btn btn-danger m-1">Delete</button>
            </form>
        </div>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<div class="col-6 my-3">
  <h2>Leave a Review</h2>
  <form action="/campgrounds/<%= campground._id%>/reviews" method="post">
    <div class="my-3">
      <div class="my-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" name="review[rating]" class="form-range" min="1" max="5" id="rating">
      </div>
      <div class="my-3">
        <label for="body" class="form-label">Review</label>
        <textarea id="body" name="review[body]" cols="30" rows="3" class="form-control" aria-label="review body"></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </div>
    </form>
    <div>
      <% for(let review of campground.reviews){%>
        <div class="card my-3">
        <div class="class-body m-3 row">
          <div class="col-6">
            <h5>rating: <%= review.rating %> </h5>
            <h7>review: <%= review.body %> </h7>
          </div>
        <div class="my-1 col-6 text-end">
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
        </div>  
        </div>
      <% } %>
  </div>
</div>
</div>